Source: slimbook-qc71-dkms
Section: misc
Priority: optional
Maintainer: Slimbook <dev@slimbook.es>
Build-Depends: debhelper-compat (=13), dkms
Standards-Version: 4.6.0
Homepage: https://github.com/Slimbook-Team/slimbook-qc71-dkms

Package: slimbook-qc71-dkms
Architecture: amd64
Provides: slimbook-qc71-modules (= 0.3)
Depends: dkms (>= 1.95), ${misc:Depends}
Description: slimbook-qc71 driver in DKMS format.
 Slimbook platform driver adaptation of pobrn/qc71_laptop
